html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

meter::-webkit-meter-bar {
	background: #e6e6e9;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	appearance: textfield;
}

.header {
	background: rgb(230, 230, 230);
}

.header h2 {
	color: #111;
}

.instructions li {
	line-height: 2;
}

.imp {
	color: #051;
	font-weight: bold;
}

.imp-link {
	cursor: pointer;
}

.imp-link:hover {
	text-decoration: underline;
}

.blockquote {
	border-left: 4px solid #007bff;
	background-color: #f5f7f9;
	padding: 20px;
}

.blockquote p {
	margin-bottom: 0;
}

.blockquote-footer {
	margin-top: 15px;
	color: #6c757d !important;
}

@media (prefers-color-scheme: dark) {
	body {
		color: white !important;
		background: black !important;
	}

	table, table tr:hover .td-custom{
		color: white !important;
	}

	table tbody tr:hover {
		background-color: #222 !important;
	}

	.blank-circle {
		color: #444;
	}

	.header {
		background-color: #222 !important;
	}

	.header h2 {
		color: white !important;
	}

	.imp {
		color: #0f0;
	}

	.blockquote {
		border-left-color: #17a2b8;
		background-color: #111;
		color: #ffffff;
	}

	.blockquote-footer {
		color: #b0b0b0 !important;
	}
}